.btn{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn::after{
    content: '';
    display: block;
    width: 0;
    height: 24px;
    overflow: hidden;
    background-image: url(../../../../public/Images/ArrowRight.png);
    transition: width 200ms,margin-left 200ms;
}

.btn:is(:hover,:focus)::after{
    width: 24px;
    margin-left: 8px;
}